.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.datos input{
  width: 300px;
  height: 20px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.datos button{
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gato{
  border-radius: 20px;
}

.hola{
  color: rgb(97, 30, 30);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-icon {
  width: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Para mantener la proporción de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto del botón */
}

.arribaUsersCrud{
  display: flex;
  justify-content: center;
  align-items:center;
}

.crudu{
  padding-top: 5%;
  text-align: center;
  color: rgb(67, 231, 52);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.usuarios{
  width: 70px;
  height: 70px;
  margin-left: 2rem;
  margin-top: 2rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* O ajusta según tu diseño */
  width: 100%;
}
